<p style="color: green"><%= notice %></p>

<%= render @idea %>

<div>
  <%= link_to "Edit this idea", edit_idea_path(@idea) %> |
  <%= link_to "Back to ideas", ideas_path %>

  <%= image_tag(@idea.picture_url, width: 100) if @idea.picture.present? %>

<h3>Comments</h3>
<% if @idea.comments.present? %>
<% @idea.comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %> </p> 
    <p><%= link_to 'Delete', comment_idea_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
  </div>
<% end %>
<%# <%= render partial: 'comments/form', locals: { comment: comment } %>
<% end %>
 

<%= button_to "Destroy this idea", @idea, method: :delete %>
</div>
